body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffe6e6;
    font-family: 'Arial', sans-serif;
}

.container {
    text-align: center;
    padding: 20px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #ff66b2;
    margin-bottom: 10px;
}

p {
    color: #333;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ff66b2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #ff3385;
}

.hidden {
    display: none;
}

#message {
    margin-top: 20px;
    font-size: 18px;
    color: #ff3385;
    
}

.hearts {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;
}

.heart {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #ff66b2;
    transform: rotate(45deg);
    animation: float 5s linear infinite;
}

.heart:before,
.heart:after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ff66b2;
}

.heart:before {
    top: -10px;
    left: 0;
}

.heart:after {
    left: 10px;
    top: 0;
}
.carousel {
    position: relative;
    width: 200px;
    /* Ajusta el tamaño según tus necesidades */
    height: 450px; /* Define la altura para que las imágenes se muestren correctamente */
}


.carousel-image {
    top: 50%;
    left: 165%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 225px;
    height: auto;
    opacity: 0;
    transition: opacity 0.5s ease;
    margin: auto;
    background-image: black;
}

.carousel-image.active {
    opacity: 1;
}


@keyframes float {
    0% {
        transform: translateY(0) rotate(45deg);
        opacity: 1;
    }
    100% {
        transform: translateY(-800px) rotate(45deg);
        opacity: 0;
    }
}
